<% if user_signed_in? %>
  <div class="row main_links">
    <div class="col-sm-2 col-sm-offset-3">
      <h4><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><%= link_to 'Booked Meetings', user_meetings_path(current_user) %></h4>
    </div>
    <% if current_user.try(:admin?) %>
      <div class="col-sm-2 col-sm-offset-1">
        <h4><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><%= link_to 'New quarter', new_user_quarter_path(current_user) %></h4>
      </div>
    <% end %>
  </div>
<% end %>

<h3>Please Sign in to continue...</h3>